<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
  #autoresl { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #autoresl li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; }
  #autoresl li span { position: absolute; margin-left: -1.3em; }
  </style>

<div class="text-secondary mt-md-4">
  En la siguiente sección deberá ingresar a los autores de la publicación. Seleccione del lado izquierdo, en la columna "Nombre"; a un investigador del INECOL o si es autor externo seleccione la opción "::Externo Autor" y a continuación escriba el nombre.
  Para agregar otro autor a la lista, haga clic en el botón "+ Agregar autor"
</div>

<div class="col">
  
</div>

<% if current_usuario.persona_id==64 %>

<div class="row">
    <div class="col">
         <div class="form-group">
             <input type="text" name="listaut" id="listaut" class="form-control">
             <div class="btn btn-secondary" id="striplist">Aplicar</div> 
         </div>

    </div>  
</div>  

<% end %>

 <% if !@disabled %>
    <%= link_to_add_fields("+ Agregar autor", form, :autores) %>
<% end %>
  <div class="card">
    
     <div class="card-body">
       <% if @action == 'show' %>
          <%= render "crud/actividad/listado_autores" %>  
       <% else %>
          <ul id="autoresl"> 
             <%= form.fields_for :autores, @actividad.autores.order("posicion asc") do |autor_form| %>
             <%= render "crud/actividad/autor_fields", f:autor_form %>
             <% end %>
         </ul>
       <% end %>  
     </div>   
 </div>


<script>
  $( function() {
    $( "#autoresl" ).sortable({
         stop: function( event, ui ) { 
           var i =1;  
           $( ".orden" ).each(
               function(){
                   var iddestroy = this.id.replace("posicion","_destroy") 
                   if ( $("#"+iddestroy).val()!= '1' ){
                        this.value=i;
                        i++;
                     }
               }
           );

          }
    });
    $( "#autoresl" ).disableSelection();
  } );
  </script>