<div class="form-group">  
           <strong>Comprobante</strong>
           <p><I>Seleccione un archivo en formato PDF.</I></p>
       </div>
        <% if !@disabled %>
            <div class="form-group">  
               <%= form.file_field :documentos, multiple: true, class:"form-control col-6" %>
            </div>
        <% end %>
       <div class="form-group">

           <% if @actividad.documentos.attached? %> 
              <% @actividad.documentos.each do |d|%>
                <div id="doc<%= d.id %>">
                  <%= link_to d.filename, rails_blob_path(d, disposition: "attachment"), { target: '_blank' } %>
                  <% if !@disabled %> 
                     <%= link_to deldoc_path(d.id), method: "delete", data:{confirm: '¿Desea eliminar el comprobante?'}, remote:true  do %>
                          <i class="fas fa-times"></i> 
                     <% end %>
                 <% end %>    
               </div>   
              <% end %>  
           <% end %>   
       
       </div>