<style>
 .redw{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
 }
 .reditem{
    display: flex;
    flex-direction: row;
 }
 .selectw{
    width: 80%;
 }
</style>
<div class="redw">
     <div class="form-group">
         <label><I>Seleccione la red a la que pertenece la publicación</I></label>
           <%= form.select :asignared, Red.all.order(:nomred).pluck(:nomred,:id), { :include_blank=>'Seleccione una red'}, {class:"selectize selectw", disabled: @disable} %>             
     </div>
</div>     