

<%= link_to("Nuevo registro", new_red_path, data:{turbolinks:false} ) %>

<% if flash[:notice] %>
    <%= content_tag :div, flash[:notice], class: "flash notice" %>
<% end %>

<table class="table">
  <thead>
     <tr>
        <th>Nombre red</th>
        <th>Clave</th> 
     </tr>
  </thead> 
  <tbody>
    <% @redes.each do |r| %>
      <tr>
          <td><%= link_to(r.nomred, red_path(r), data:{turbolinks:false}) %></td>
          <td><%= r.clavered %></td> 
      </tr>
    <% end %>
 </tbody>
 </table>   