<table>
  <thead>
     <tr>
       <th>Nombre Categoria</th>
       <th>Editar</th>
       <th>Eliminar</th>
     </tr>
  </thead>
  <tbody>
      <% @prodcategorias.each do |c| %>
        <tr>
          <td> <%= c.nomcategoria %> </td>
          <td> <%= link_to("Editar", edit_prodcategoria_path(c), data:{turbolinks:false})%> </td>
          <td> <%= link_to("Eliminar", c, method: "delete", data:{confirm: '¿Desea eliminar este registro?'} ) %> </td>
        </tr> 
      <% end %>
  </tbody>

</table>

