
<br>
<table class="table">
   <thead>
      <th>Folio carga</th>
      <th>Técnico</th> 
      <th>Descripción</th>
      <th>Documento</th> 
   </thead> 
   <tbody>
    <% Persona.order(:paterno).each do |p|  %>
      <% Extra.where(persona_id:p.id).each do |ex|
         #sp = Persona.find(ex.persona_id)
         nombre = (ex.persona.paterno||'') + ' ' + (ex.persona.materno||'') + ' ' + (ex.persona.nombre||'') + ' '
      %>
           <tr>
               <td> <%= ex.id %> </td>
               <td> <%= nombre %> </td>
               <td> <%= ex.descripcion %> </td>
               <td>
                   <% if ex.documento.attached? %>  
                      <%= link_to ex.documento.filename, rails_blob_path(ex.documento, disposition: "inline"), { target: '_blank' } %>
                    <% else %>
                      <I>Sin archivo</I>
                   <% end %>
               </td> 
           </tr>
      <% end %>
   <% end %> 
   </tbody>

</table>
