


 <div class="row">
         <div class="col-sm">
              <label class="font-weight-bold">Título de la actividad:</label>
              <%= @actividad.titulo %>
         </div>  
         <div class="col-sm">
               <label class="font-weight-bold">Año:</label>
               <%= @actividad.anio %>
         </div>  
 </div>