<div class="row">
    <div class="col-sm">
        <span class="fw-bold">Fecha publicacón:</span> <%= !@actividad.fechapub.blank? ? @actividad.fechapub : 'N/A'  %>
    </div> 
 </div>
 <div class="row">
   <div class="col-sm">
      <span class="fw-bold"> Revista:</span> <%= @actividad.articulo.revista.nomrevista  %>
   </div>
 </div>  
