<div class="row">
   <div class="col-2">
      <%= link_to "#", data:{action:'click->valproducto#aceptarProducto', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
          <i class="fas fa-check"></i> Aceptar
      <% end %>  
   </div>
   <div class="col-2">
      <%= link_to "#", data:{action:'click->valproducto#aceptarCorregir', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
          <i class="fas fa-edit"></i> Corregir
      <% end %>  
   </div>
   <div class="col-2">
      <%= link_to "#", data:{action:'click->valproducto#aceptarRechazar', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
          <i class="fas fa-times"></i> No considerar
      <% end %>  
   </div>
</div>