

 <div class="row">
         <div class=" <div class="row">">
              <label class="font-weight-bold">Título:</label>
              <%= @actividad.titulo %>
         </div>  
         <div class="mb-3 col-md-3">
               <label class="font-weight-bold">Año:</label>
               <%= @actividad.anio %>
         </div>  
 </div>
 