$("#no<%=@idactividad%>").hide()
$("#val<%=@idactividad%>").hide()
$("#msgsicon<%=@idactividad%>").html("<span style='color:green;'>Producto Validado</span>")
$("#anulasa<%=@idactividad%>").show()
alert("Registro validado.")