<style>
.box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 80%;
}

 .redtxt{
   font-size: 16px;
   font-weight: bold;
   margin-top: 10px;
}  
.dattable{
   justify-content: left;
   align-items: left;
}

.itemsdata{
   display: flex;
   flex-direction: column;
   width: 80%;
}
.itemdata{
   display: flex;
   flex-direction: row;
   margin-left: 15px;
}
.itemdata_ac{
   width: 50%;
}
.itemdata_opt{
  width: 50%;
}

</style>

<div class="box">

<%  
   @redes.each do |r|
%>
 <div class="redtxt"> 
      <%= r.nomred %>
 </div>
 
<%
   @academicos = Academico.where(red_id:r.id)
     @academicos.each do |a|  
     if a.persona.tipopersona_id == 2 || a.persona.tipopersona_id == 3

%>
  
    <div class="itemsdata">       
         <div class="itemdata">
            <div class="itemdata_ac"><%= (a.persona.paterno||'') + ' ' + (a.persona.materno||'') + ' ' + (a.persona.nombre||'') %></div>
            <div class="itemdata_opt"> <%= link_to "Ver productos", listproduccion_path(a.persona.id) %> </div>  
         </div> 
    </div> 

     <% end %>
   <% end %>

<% end %>

</div>
<br>