<%= link_to "#", data:{action:'click->valproducto#actionBack', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
   <i class="fas fa-long-arrow-alt-left"></i> Regresar
<% end %>
</div>
<div class="alert alert-success font-weight-bold mt-3" role="alert">
     <i class="fas fa-check-double text-primary"></i> Producto validado.
</div>