<% if  ['C','S','U'].include? a.estado %> 
    <div class="d-flex justify-content-center"> <i class="fas fa-check-double text-success"></i> </div>
<% end %>
<% if  ['A'].include? a.estado %> 
    <div class="d-flex justify-content-center"> <small> Falta VoBo </small> </div>
<% end %>

<% if ['G','D'].include? a.estado %>        
      <%
        etapa_val = a.valetapas.where(activo:'SI').last
        if etapa_val.nil?
           etapa_val = ''
        end
      %>
      <% if ['CR','SA'].include? etapa_val.etapa %>
        <div class="d-flex justify-content-center"> <i class="fas fa-check-double text-success"></i> </div>
      <% end %>
<% end %>