<% if  ['C','S'].include? a.estado %> 
    <div class="d-flex justify-content-center"> <i class="fas fa-check-double text-success"></i> </div>
<% end %>
<% if  ['U'].include? a.estado %> 
    <div class="d-flex justify-content-center"><small>Falta VoBo</small></div>
<% end %>
<% if ['A'].include? a.estado %>
   <div class="d-flex justify-content-center"> --- </div>   
<% end %>

<% if ['G','D'].include? a.estado %>        

      <%
        etapa_val = a.valetapas.where(activo:'SI').last
        if etapa_val.nil?
           etapa_val = ''
        end
      %>
      <% if etapa_val.etapa == 'CR' %>
            <% if a.estado == 'G' %>
                  <div class="d-flex justify-content-center"> <small>Enviado a corrección</small> </div>
            <% end %>
            <% if a.estado == 'D' %>
                  <%= link_to "#", data:{action:'click->valproducto#showTargetInfo', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
                              <i class="fas fa-user-times text-danger"></i> <span class="text-danger"> <small> No considerar </small> </span>
                  <% end %> 
            <% end %>   
      <% end %>
      <% if etapa_val.etapa == 'SA' %>
            <div class="d-flex justify-content-center"> <i class="fas fa-check-double text-success"></i> </div>
      <% end %>

<% end %>