<%  
   @actividades.each do |lista|
     lista.each do |item|
     if item[:actividades].any?

%>
        <div class="card">   
        <div class="card-body">
                <div class="row" style="background-color:#0573a2;"> 
                    <div class="col d-flex justify-content-center <%= !item[:actividades].any? ? 'text-white font-italic' : ' font-weight-bold text-white'  %> ">
                        <%= reporta(item[:persona]) %>
                    </div>
                </div>   
                
                <div class="row"> 
                    <div class="col">
                        <%= render "activs_investigador", data:item[:actividades], idpersona:item[:persona] %>       
                    </div> 
                </div>
            </div>    
        </div>        
<%   end
    end
   end  
%>
