<table class="table table-sm table-striped">
    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                            <th></th>
                        </tr>   
                    </thead>
   <tbody>
                        <% @tecnicos.each do |i|  %>
                            <tr>   
                                <td><div><%= reporta(i.id) %></div></td>
                                <td><%= link_to "Adicionales", listaproductos_path(i.id) %></td>
                                <td><%= link_to "Sustantivas", tsustantivas_path(i.id) %>   </td>
                            </tr>
                        <% end %>
   </tbody>     
</table>