<% if @actividad.edoblur.nil? %> 
      <%= render "valactividades/gui/opcionesval" %>
<% end %>
<% if @actividad.edoblur == 'D' %> 
     <div class="alert alert-danger" role="alert">
          No considerado:
          <% if @actividad.valetapas.where(activo:'SI',accion:'rechazar').any? %>
             <%= @actividad.valetapas.where(activo:'SI',accion:'rechazar').last.txtmensaje %>
          <% end %>
    </div>
<% end %>
<% if @actividad.edoblur == 'C' %> 
         <div class="alert alert-success" role="alert">
              Producto validado.
         </div>
<% end %>      