
<% if @tipo == 'A' %>
  <h5> Listado de Productos Académicos (incluye Investigadores y Técnicos)</h5>
<% end %>  
<% if @tipo == 'I' %>
  <h5> Producción Académica de Investigadores 2021</h5>
<% end %>  
<% if @tipo == 'T' %>
  <h5>Producción Académica de Técicos 2021</h5>
  
<% end %>  


<div data-controller = "valproducto">     
  <%= render "index" %>
</div>  