<button type="button" class="btn btn-link" onclick="javascript:window.history.back();"><i class="fas fa-arrow-left"></i> Regresar</button>

<div>
   <%= render "list_historico", actividades: @periodo_a, periodo:2021  %>
</div>

<div>
   <%= render "list_historico", actividades: @periodo_b, periodo:2020  %>
</div>

