

<div class="row">
        <div class="col">
              <div class="row">  
                   
              </div>
              <div class="row mt-3 border-top">  
                    <%= render "items" %>
              </div>      
        </div>  
</div>    