<div class="d-flex fw-bold sticky-top">Producción 2022 - Técnicos </div>


<div class="row mt-5" data-controller="tecnico">
    <div class="col-3" style="height: 25vh;position: -webkit-sticky;position: sticky;top: 0;">
         <%= render "list_academicos", tecnicos:@tecnicos %>
    </div>
    <div class="col-9 " id="div_adicionales">
         Productos 
    </div>
</div>