<div class="d-flex row fw-bold sticky-top">
   
   <div> Producción 2023 </div> 
   <%= link_to actividades_actividades_path do %> 
         <i class="fa-solid fa-arrow-left-long"></i> Regresar 
   <% end %>
</div>



<div class="row mt-5" data-controller="tecnico investigador">
    <div class="col-3" style="height: 25vh;position: -webkit-sticky;position: sticky;top: 0;">
         <%= render "list_academicos", academicos:@academicos %>
    </div>
    <div class="col-9 " id="div_adicionales">
         Productos 
    </div>
</div>