<div class='nested-fields'>
     <div class="row"> 
        <div class="col-md-3">
            <%= form.hidden_field :_destroy %> 
            
            <div class="form-group"> 
                <%= form.select :persona_id, Persona.all.order(:paterno).collect {|p| [((p.paterno||'')+' '+(p.materno||'')+' '+(p.nombre||'')), p.id]}, {},{class:"form-control form-control-sm"} %> 
            </div>                
        </div>
        <div class="col-md-3">
            <div class="form-group"> 
                <%= form.select :rol_id, Rol.where(id:[4,9]).all.order(:nomrol).collect {|p| [p.nomrol, p.id]}, {},{class:"form-control form-control-sm"} %>      
            </div>  
        </div>

        <div class="col-md-1"> 
            <i class="fas fa-user-minus"></i> <%= link_to "Eliminar", "#", data: { action: "click->nested-form#remove_association" } %>
        </div>  
    </div>
 
</div> 