<div class="row">
   <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Autores:
   </div>
   <div class="col d-flex justify-content-start">
          <% if actividad.autores.any? %>
              <%
                total_au = actividad.autores.count
                idx = 0
                actividad.autores.order(:id).each do |a|
                   idx += 1
                   str = ''
              %>
                <div class="ms-1 <%= 'fw-bold' if a.persona.id != 211 %> "   >
                   <% str = (a.persona.paterno||'') + ' ' + (a.persona.materno||'') +', ' + (a.persona.nombre||'') if a.persona.id != 211 %>
                   <% str = (a.autorap || '') + ', ' + (a.autornom || '') if a.persona.id == 211 %> 
                   <% str += '*' if ['1','S'].include? a.corresponsal   %>
                   <% str += '; ' if idx < total_au %>
                   <%= str %>
                </div> 
                <% end %>   
          <% end %>
   </div>
</div>

