 <div class="row mt-md-3">
     <div class="mb-3 col-md-10">
        <h6>Participantes</h6>
        <table class="table">
                <thead>
                        <tr>
                            <th>Nombre</th>
                            <% if swcorr == 'S' %> 
                              <th>Corresponsal</th>
                            <% end %> 
                            <th></th>
                        </tr>    
                    </thead>
                    <tbody>
                        <% if actividad.autores.any? %>
                                <% actividad.autores.order(:id).each do |a| %>
                                    <tr>
                                        <td> <%= (a.persona.paterno||'')+' '+(a.persona.materno||'')+' '+(a.persona.nombre||'') if a.persona.id != 211 %>
                                             <%= (a.firma || '') if a.persona.id == 211 %>
                                             <%= actividad.producto_id == 83 ? " (#{a.rol.nomrol}) " : '' %>
                                        </td>
                                         <% if swcorr == 'S' %> 
                                            <td>
                                                <%= 'SI' if ['1','S'].include? a.corresponsal   %>
                                            </td>
                                        <% end %>    
                                    </tr>
                                <% end %>
                        <% end %>
                    </tbody>
            </table>            
  </div>
</div>    