<div class="row">
          
          <div class="mb-3 col-md-10">
                 <h6>Comprobante</h6>  
                <% if actividad.documentos.attached? %> 
                    <% actividad.documentos.each do |d|%>
                        <div id="doc<%= d.id %>" class="ml-md-3">
                            <%= link_to d.filename, rails_blob_path(d, disposition: "attachment"), { target: '_blank' } %>
                        </div>
                    <% end %>    
                 <% else %> 
                     <div><small>Subir comprobante</small></div>
                     <div class="ml-md-3">
                        <%= link_to updoc_actividades_actividad_path(actividad.id) do %>    
                            <i class="fas fa-upload text-danger"></i> <small class="text-danger">Comprobante</small>
                        <% end %>
                     </div>         
                <% end %>  
          </div>  
    </div>