<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                 Comprobante:
     </div>
     <div class="col d-flex justify-content-start">
               <% if actividad.documentos.attached? %> 
                        <% actividad.documentos.each do |d|%>
                                <%= link_to d.filename, rails_blob_path(d, disposition: "inline"), { target: '_blank' } %>
                        <% end %>   
               <% end %>         
     </div>
</div> 