<div class="row">
    <div class="col-md-2 d-flex justify-content-end fw-bold"> 
            Red Académica:
    </div>
    <div class="col d-flex justify-content-start">
           <% if  !actividad.asignared.nil?
                 red = Red.find(actividad.asignared) 
            %>
                <%=  red.nomred %>
           <% end %>  
    </div>
</div>