<%= nomseccion('Técnicos', 'Periodo 2023') %>

<!--
<div class="mb-2 bg-light p-2 rounded" id="sustantivas" style="min-height: 200px;"> 
     <%= render "head" %>
     <%  @itemsust.each do |s| %>
            <%= render 'item', data:s %>
     <% end %>  
</div>    

-->