<!-- VALIDACION DEL CR  --> 
<td>
  <div class="d-flex justify-content-center">
    <% if activ.estado == 'U' %>
          <small class="badge badge-info">En validaci贸n</small>
    <% else%>
            <% if activ.estado == 'A' %>
                  --
            
            <% elsif  activ.estado == 'C' %>
                  <i class="fas fa-check-double text-success"></i>
                  <% if [81,85].include? activ.producto_id %>
                          <small class="text-muted"> <span class="ml-md-1">Depto. Planeaci贸n</span></small>
                  <% end %>
            
            <% elsif  activ.estado == 'S' %>
                  <i class="fas fa-check-double text-success"></i>
                  <% if [81,85].include? activ.producto_id %>
                         <small class="text-muted"> <span class="ml-md-1">Depto. Planeaci贸n</span></small>
                  <% end %>
            
            <% elsif activ.valetapas.where(activo:'SI').any? %>
                  <% if activ.valetapas.where(activo:'SI').last.etapa == 'CR' %>
                        <% if activ.estado == 'G' %>
                              <small class="badge badge-warning">Corregir</small>
                        <% end%>
                        <% if activ.estado == 'D' %>
                              <small class="badge badge-success"><i class="fas fa-times text-danger"></i> No se considera</small>
                        <% end%>
                  <% else %>
                         <% if  activ.estado != 'C' %>
                              <i class="fas fa-check-double text-success"></i>
                         <% end %> 

                  <% end %> 
            <% else %>
                -
            <% end %>        
    <% end %>        
  </div>  
</td>

<!-- VALIDACION DE LA SA  --> 
<td>
 <div class="d-flex justify-content-center">
      <% if activ.estado == 'A' %>
                  --
      <% end %>
       <% if activ.estado == 'S' %>
            <i class="fas fa-check-double text-success"></i>
      <% end%>     
      <% if activ.estado == 'C' %>
            <small class="badge badge-info">En validaci贸n</small>
      <% end%> 
      <% if activ.valetapas.where(activo:'SI').any? %>
                  <% if activ.valetapas.where(activo:'SI').last.etapa == 'SA' %>
                        <% if activ.estado == 'G' %>
                              <small class="badge badge-warning">Corregir</small>
                        <% end%>
                        <% if activ.estado == 'D' %>
                              <small class="badge badge-success"><i class="fas fa-times text-danger"></i> No se considera</small>
                        <% end%>
      
                  <% end %> 
      <% end %>   
 </div>     
</td>