  <td>
     <div class="d-flex justify-content-center"><small class="badge badge-info">En validación</small></div>
  </td>  
  <td>
     <div class="d-flex justify-content-center"><small class="badge badge-info">En validación</small></div>
  </td>   