<ul class="navList">
    <li class="navList__heading">
            <%= link_to validaindex_path(:tipo=>'A'), data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Inicio </span>
            <% end %>   
    </li>

    <% if current_usuario.evaluador == 'A' %>
        <li class="navList__heading">
                <%= link_to validaindex_path(:tipo=>'I'), class:"text-white" do %>
                        <i class="fas fa-chevron-right fa-sm"></i> Investigadores
                <% end %> 
        </li>
        <li class="navList__heading">
                <%= link_to validaindex_path(:tipo=>'T'), class:"text-white" do %>
                        <i class="fas fa-chevron-right fa-sm"></i> Técnicos
                <% end %> 
        </li>
    <% end %>
</ul>   

