<div class="row" data-controller="ctooltips">
       <div class="col-1"> 
          <%= link_to 'javascript:history.back()', 'data-bs-toggle':"tooltip", 'data-bs-placement':"top", 'title':"Regresar" do %>
              <i class="fa-solid fa-arrow-left-long"></i>
          <% end %>
       </div>   
</div> 