<div class="row" id="actividad<%= a.id %>">

    <% if a.estado == 'A' %>
          <div class="col cursor-pointer validar fw-bold" data-action="click->modalalert#modalshow" data-modalalert-actividad-param='<%= a.id %>' style="font-size:14px;" >
                    <i class="fas fa-check-circle"></i> Enviar a validaci贸n
          </div>
    <% end %> 

    <% if a.estado == 'U' %>
          <% if a.fuente == 'P' %>
                   <div class="col validarcr fw-bold" style="font-size:14px;"><i class="fa-solid fa-arrow-right"></i> En validaci贸n</div> 
          <% else %>
                   <div class="col validarcr fw-bold" style="font-size:14px;"><i class="fa-solid fa-arrow-right"></i> En validaci贸n-Coor. Red</div>
          <% end %> 
    <% end %>      

    <% if a.estado == 'C' %>
          <div class="col validarsa fw-bold" style="font-size:14px;"><i class="fa-solid fa-arrow-right"></i> En validaci贸n-SA</div>
    <% end %>      
    
    <% if a.estado == 'S' %>
          <div class="col validarok fw-bold" style="font-size:14px;"><i class="fas fa-check-double text-success"></i> Validado</div>
    <% end %> 

    <% if a.estado == 'D' %>
          <div class="col validarno fw-bold" style="font-size:14px;"><i class="fas fa-times"></i> No en apego normativa</div>
    <% end %> 

    <% if a.estado == 'G' %>
          <div class="col validarno fw-bold" style="font-size:14px;">
                <%= link_to edit_actividades_actividad_path(a) do %> 
                   <i class="fas fa-times"></i> Corregir
                <% end %>   
         </div>
    <% end %> 

</div>