<% corre = true 
   edo_val =  'En validación' 

   if a.producto_id == 22
            if [5,6,7,8,9,10,11,12].include?a.divulgacion.tipodivulgacion_id
                   edo_val =  'Área de Com. y Enlace' 
            else
                    if !a.personaid.blank?
                          persona = Persona.find(a.personaid)
                          if persona.tipopersona_id == 4
                                 edo_val =  'En validación-Comité'
                           end
                           if persona.tipopersona_id == 2 || persona.tipopersona_id == 3
                                    edo_val =  'En validación-Coor. Red'
                           end
                    end             
             
            end
     elsif a.producto_id == 39
           if [889,886,317,991,933,317,976].include?a.articulo.revista_id
                   edo_val =  'Área de Com. y Enlace' 
            else 
                   edo_val =  'En validación'
           end
     else

                        if !a.personaid.blank?
                              persona = Persona.find(a.personaid)
                              if persona.tipopersona_id == 4
                                    edo_val =  'En validación'
                              end
                              if persona.tipopersona_id == 2 || persona.tipopersona_id == 3
                                    edo_val =  'En validación-Coor. Red'
                              end
                        end             
   end         

%>
<div class="row" id="actividad<%= a.id %>">

    <% if a.estado == 'A' %>
          <div class="col cursor-pointer validar fw-bold" data-action="click->modalalert#modalshow" data-modalalert-actividad-param='<%= a.id %>' style="font-size:14px;" >
                    <i class="fas fa-check-circle"></i> Enviar a validación
          </div>
    <% end %> 

    <% if a.estado == 'U' %>
             <div class="col validarcr fw-bold" style="font-size:14px;"><i class="fa-solid fa-arrow-right"></i><%= edo_val %></div>
    <% end %>      

    <% if a.estado == 'C' %>
          <div class="col validarsa fw-bold" style="font-size:14px;"><i class="fa-solid fa-arrow-right"></i> En validación-SA</div>
    <% end %>      
    
    <% if a.estado == 'S' %>
          <div class="col validarok fw-bold" style="font-size:14px;"><i class="fas fa-check-double text-success"></i> Validado</div>
    <% end %> 

    <% if a.estado == 'D' %>
          <div class="col validarno fw-bold" style="font-size:14px;"><i class="fas fa-times"></i> No en apego normativa</div>
    <% end %> 

    <% if a.estado == 'G' %>
          <div class="col validarno fw-bold" style="font-size:14px;">
              <% if corre %>
                  <%= link_to edit_actividades_actividad_path(a), class:'text-decoration-none' do %> 
                     <i class="fas fa-times text-danger"></i> <span class="text-danger">Corregir</span>
                <% end %>
              <% else %>     
                     <i class="fas fa-times"></i> <I>No se realizó la corrección solicitada</I>
              <% end %>
         
         </div>
    <% end %> 

</div>