@import '~bootstrap/scss/bootstrap';
//@import '@fortawesome/fontawesome-free';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import '~selectize/dist/css/selectize';
@import '~selectize/dist/css/selectize.default';


.error{
    color: red;
}
.error_input{
    border:1px solid red;
}