@import "bootstrap";
@import "tom-select/dist/scss/tom-select.bootstrap5";

//@import '@fortawesome/fontawesome-free';
//$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';

//@import '~selectize/dist/css/selectize';
//@import '~selectize/dist/css/selectize.default';
//@import '~select2/dist/css/select2';

@import "trix/dist/trix";


.item {
    color: $gray-700;
  }

  .menubg {
    background-color: $blue-100;
  }
  .bgbody{
    background-color: $gray-100;
  }
  .validar{
    color: $orange-700;
  }
  .mostrar{
     color: $blue-700;
  }
  

@import "~bootstrap/scss/bootstrap-utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Roboto', sans-serif;

}