@import "bootstrap";
@import "tom-select/dist/scss/tom-select.bootstrap5";

//@import '@fortawesome/fontawesome-free';
//$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';

//@import '~selectize/dist/css/selectize';
//@import '~selectize/dist/css/selectize.default';
//@import '~select2/dist/css/select2';

@import "trix/dist/trix";


.item {
    color: $gray-700;
  }

@import "~bootstrap/scss/bootstrap-utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

@import '~bootstrap/scss/bootstrap';