
<div class="row border-bottom">
   <div class="col">
      <h5>Listado de productos registrados</h5>
   </div>   
</div>
<div class="row mt-md-3">
   <div class="col">
      <table id="posgrado" class="table table-striped table-sm table-bordered">
          <%= render "posgrados/tabla/hcursos" %>
          <%= render "posgrados/tabla/bcursos" %>
      </table>
    </div> 
 </div>    

<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<script type="text/javascript">
  $(document).ready(function() {
    $('#posgrado').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No hay registros",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
  });
</script>