 <% if a.estado == 'U' %>
        <button class="btn btn-warning btn-sm" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" >Validar</button>
 <% end %>  
 <% if a.estado == 'C' ||  a.estado == 'S' %>
        <span class="badge bg-success" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">VER</span>
 <% end %> 
 <% if a.estado == 'G' %>
        <span class="badge bg-info" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">En edición</span>
 <% end %> 
 <% if a.estado == 'D' %>
        <span class="badge bg-danger" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">No se considera</span>
 <% end %>