<% if [889,886,317].include?(a.articulo.revista.id)  %>
         <span class="text-primary" style="font-size:12px;">Valida Ofic. Comunic.</span>
         <span class="badge bg-success" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">VER</span>
<% else %>         
         <%= render 'actividades/redacademicas/btn_vals_g', a:a %> 
<% end %>