<td> <%= @actividad.id %> </td>
<td> <%= @actividad.producto.descripcion %> </td>
<td> <%= @actividad.titulo %> </td>
<td> <span class="badge badge-success" data-action="click->validar#seccVal" data-validar-row-param="<%=  @div_target %>">Validado</span> </td>