<td> <%= @actividad.id %> </td>
<td> <%= @actividad.producto.descripcion %> </td>
<td> <%= @actividad.titulo %> </td>
<td> <span class="badge bg-success" data-action="click->validar#seccVal" data-validar-row-param="<%=  @div_target %>" style="cursor:pointer;">Validado</span> </td>