
<div class="row mb-2">
    <div class="col-md-2 d-flex justify-content-end"> 
        <label class="form-label " id="documentos">Comprobante:</label>
    </div>
    <div class="col-md-6 d-flex justify-content-start">
        <%= form.file_field :documentos, multiple: true, class:"form-control" %>
            <% if @actividad.documentos.attached? && params[:action] == 'edit' %> 
                <% @actividad.documentos.each do |d|%>
                    <div id="doc<%= d.id %>">
                        <%= link_to d.filename, rails_blob_path(d, disposition: "attachment"), { target: '_blank' } %>
                    
                            <%= link_to deldoc_path(d.id), method: "delete", data:{confirm: '¿Desea eliminar el comprobante?'}, remote:true  do %>
                                    <i class="fas fa-times"></i> 
                            <% end %>
                    
                    </div>
                <% end %>      
            <% end %>  
    </div>
</div>