 <div class="row">
      <div class="col">
       <h5>Participantes</h5>
      </div> 
      <div class="col offset-2">
           Add
      </div>
   </div> 
   <div class="row">
      <div class="col-8">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    
                    <th></th>
                </tr>    
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
   </div>