
<div class="P-2 d-flex bgbody">
   <%= nomseccion('Productos Académicos', 'Periodo 2024') %>
</div>

<div class="container p-2 d-flex justify-content-center" data-controller="modal modalalert">
     <div class="col-12">
          <div class="row border-bottom headlist fw-bold">
               <div class="col-1 d-flex justify-content-center">
                    Folio
               </div>
               <div class="col-3 d-flex justify-content-center">
                    Producto
               </div>
               <div class="col-6 d-flex justify-content-center">
                    Nombre del producto
               </div>
               <div class="col-1 d-flex justify-content-center">
                  Estado validación
               </div>
               <div class="col-1 d-flex justify-content-center">

                       Puntos
               
               </div>
          </div>



                         <% if @actividades.any? %>
                                   <% @actividades.each do |a| %>
                                        <% if current_usuario.rol == 'I' || current_usuario.rol == 'C' %>  
                                             <% if a.producto.prodgrupo_id != 29 %>
                                                  <%= render "actividades/actividades/items/prod_fila", a:a %>   
                                             <% end %>
                                        <% else %>     
                                                  <%= render "actividades/actividades/items/prod_fila", a:a %>   
                                        <% end %>
                                   <% end %>          
                          <% else %>
                                   <div class="row border-bottom mt-2">
                                        <div class="col-10 d-flex justify-content-start  align-self-center">
                                             No hay registros
                                        </div>
                                   </div>
                         <% end %>


          <div><%= render 'modal_alert' %></div>
     </div>     
</div>