<div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= cap_form.label :libro_id, "Libro:", class:"form-label fw-bold text-secondary" %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
            <div class="col"> 
                  <%=  cap_form.select :libro_id, Libro.all.order(:nomlibro).collect { |l| [l.nomlibro+' (ISBN: '+(l.isbn||'') + ')',l.id] }, { :include_blank=>'Buscar Libro...'}, {class:"form-control", data:{controller:'ts--selectrev'}}%>
            </div>    
            <div>
                <div class="col" data-action="click->modalcap#launchModal" data-modalcap-src-param="lib" data-modalcap-prod-param="<%= @producto.id %>" >
                                      <div class="text-primary" style="font-size:14px; cursor:pointer"><i class="fa-solid fa-plus"></i> Registrar nuevo libro...</div>
                </div>
            </div> 
        </div>
 </div> 