    <div class="modal fade"  data-modalalert-target="modal"  tabindex="-1" aria-hidden="false">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
               <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
             </symbol>
        </svg>
        <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content ">
                  <div class="modal-header">
                       <svg class="bi flex-shrink-0 me-2 text-success" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                       <h5 class="modal-title text-success fw-bold" id="">Validar registro</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="click->modalalert#downModal"></button>
                  </div>
                  
                  <div class="modal-body" id="modal_body">
                            <div class="alert alert-primary" role="alert">
                                <div class="d-flex">
                                     <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-action="click->modalalert#check"></div>
                                     <div class="fw-bold"><p><span>Confirmo</span> haber leído los <span class="fst-italic">"Lineamientos para el otorgamiento de estímulos por proyecto del personal científico y 
                                             tecnológico del Instituto de Ecología, A.C."</span> y que el producto registrado cumple con las especificaciones estipuladas en ellos.</p>
                                     </div>        
                                </div>     
                            </div>
                        
                  </div> 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-action="click->modalalert#submitform" id="modal_btn_aceptar" style="" disabled>Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-action="click->modalalert#downModal" id="modal_btn_cancelar">Cancelar</button>
                  </div>      
            </div>
        </div>
    </div>