
<div class="card">

   <div class="card-body">
         <h5>Producción 2021</h5>

         <div class="row"><div class="col text-primary">Productos Académicos</div></div> 
         <%= render "index_actividades" %>
         <div class="row"><div class="col text-primary">Productos de Divulgación</div></div> 
         <%= render "index_enlace" %> 
         <div class="row"><div class="col text-primary">Actividades de Posgrado INECOL</div></div> 
         <%= render "index_posgrado" %> 
   </div>

</div>

