
<%= nomseccion('Catalogo de Productos Académicos', 'Seleccione un producto de la lista') %>
<div class="eltab container" data-controller="cattab" style="min-height: 70vh">
          <div class="row headtab row-cols-7 border-bottom text-white">
               <div id="1"  class="col headinicio headitem p-2 d-flex border-end bg-secondary justify-content-center" role="button" 
                         data-cattab-idx-param="1" 
                         data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                         style="text-align: center;"
                    >
                         Generación de conocimiento
               </div>
               <div id="2" class="col headitem p-2 d-flex border-end bg-secondary justify-content-center" role="button" 
                         data-cattab-idx-param="2"
                         data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                         style="text-align: center;"
                    >
                         Divulgación de la ciencia
               </div>
               <div id="3" class="col headitem p-2 d-flex border-end bg-secondary justify-content-center" role="button" 
                         style="text-align: center;"
                         data-cattab-idx-param="3"
                         data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                    > Formación de recursos humanos
               </div>
               <div id="5" class="col headitem p-2 d-flex border-end bg-secondary justify-content-center" role="button" 
                    data-cattab-idx-param="4"
                    data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                    style="text-align: center;"
                    > Obtención de recursos
                    </div>
               <div id="6" class="col headitem p-2 d-flex border-end bg-secondary justify-content-center" role="button" 
                    data-cattab-idx-param="5"
                    data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                    style="text-align: center;"
                    > Vinculación (SP)
               </div>
               <div id="7" class="col headitem p-2 d-flex bg-secondary justify-content-center" role="button" 
                    data-cattab-idx-param="5"
                    data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                    style="text-align: center;"
                    > Vinculación (PP)
               </div>
               <% if current_usuario.rol == 'T' %>
                 <div id="8" class="col border-start headitem p-2 d-flex bg-secondary justify-content-center" role="button" 
                    data-cattab-idx-param="5"
                    data-action="mouseover->cattab#overbackcolor mouseout->cattab#outbackcolor click->cattab#backcolor click->cattab#conttab"
                    style="text-align: center;"
                    > Técnicos
                 </div> 
               <% end %>  

          </div>

          <div id="contcat" class="row cont">
          </div>

</div>