
    <div class="card">
        <div class="card-body">
             <div class="row justify-content-center">
                <div class="col-11">  
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-4"><div class="d-flex justify-content-center">Producto</div></th>
                                <th class="col-7"><div class="d-flex justify-content-center">Descripción</th>
                                <th class="col-1"><div class="d-flex justify-content-center">Comprobante</div></th>
                            </tr>
                        </thead>
                        <tbody> 
                            <% @productos.each do |p| %>
                                
                                    <tr class="" data-action="click->cattab#form" data-cattab-url-param="<%= new_actividades_actividad_path(:item=>p.id) %>" role="button" >
                                        <td class="col-4 align-middle"> <%=  p.descripcion %>  </td>
                                        <td class="col-7 align-middle"> <div class="d-flex" style="text-align: justify;"> <%= p.concepto %> </div> </td>
                                        <td class="col-1 align-middle"> <div class="d-flex" style="text-align: center;"> <%= p.comprobante %> </div> </td>
                                    </tr>    

                            <% end %>
                        </tbody>    
                    </table>    
                </div>
             </div>   
        </div>    
    </div>    
