<div class="alert alert-danger">
El periodo de <strong>captura para los productos generados del 1ro. de enero al 30 de noviembre a concluido.</strong>
Ahora (a partir del 1ro.), sólo se aceptarán y <strong>se validarán los productos generados en el mes de diciembre</strong>, es decir, aquellas actividades en donde la 
fecha del comprobante este comprendida entre 1ro. y el 31 de diciembre. <br>
Ver email enviado por la secretaría académica el martes 5 de noviembre del presente.
</div>

<%= link_to actividades_catalogos_path, style:'text-decoration: none; color:blue;' do %>
              <i class="fa-regular fa-file-lines" style="color:#5b5b5b;"></i> Continuar captura
<% end %>  