 $('#actividad<%= @act.id%>').html(`<div class="d-flex flex-row bd-highlight mb-1">  
                                <div class="p-1 bd-highlight"> 
                                  <i class="fas fa-check-double fa-lg text-success"></i></i>
                                </div>
                                <div class="p-1 bd-highlight"><small></small></div>   
                                </div>`)