 $('#actividad<%= @act.id%>').html(`<div class="d-flex justify-content-center">
                                       <i class="fas fa-check-double text-success"></i></i>
                                    </div>`)