var td = document.getElementById(`actividad${<%=@act.id%>}`)
td.innerHTML = `<div class="d-flex flex-row bd-highlight mb-1  justify-content-center">  
                                    <div class="p-1 bd-highlight"> 
                                        <i class="fas fa-check-double fa-lg text-success"></i>
                                    </div>
                                    <div class="p-1 bd-highlight"><small></small></div>   
                                </div>`
alert('Registro validado.')                                    