<%

 @data = @dataAct.editor

%>

<div class="itemdetallep">
   <div style="margin-left:10px; color:#566573;"><b>Revista:</b> <%= @data.medio %></div>
   <div style="margin-left:10px; color:#566573;"><b>ISSN:</b> <%= @data.codigo %></div>
</div>