<%

 @data = @dataAct.divulgacion

%>

<div class="itemdetallep">
    <div style="margin-left:10px; color:#566573;"><b>Tipo divulgación:</b> <%= @data.tipodivulgacion.nomtipodivulgacion %></div>


</div>