<%

 @data = @dataAct.tesista

%>

<div class="itemdetallep">
   <div style="margin-left:10px; color:#566573;"><b>Nivel:</b> <%= @data.nivelestudio.nomnivel %></div>
   <div style="margin-left:10px; color:#566573;"><b>Fecha exámen:</b> <%= @data.ftermino %></div>
</div>