

<div class="table-responsive-sm">
<div class="col-md-4 ml-auto align-middle p-2"> <%= pagy_bootstrap_nav(@pagy).html_safe %> </div>

   <table class="table table-sm table-striped" style="font-size:14px;">
      
      <%= render "divulgaciones/listadov/thead" %>
      <%= render "divulgaciones/listadov/tbody" %>

   </table>
</div>   