<div style="display:flex; padding: 10px; width: 100%; align-items: center; justify-content: center;">
   <div style="display:flex; padding: 5px; height: 80vh; width: 95%; overflow: auto; border: 1px ridge #e8e8e8;">
         <table class="table table-sm table-striped" style="font-size:14px;">
            
            <%= render "divulgaciones/listadov/thead" %>
            <%= render "divulgaciones/listadov/tbody" %>

         </table>
   </div>      
</div>