<div class="row border-bottom text-black-50 fw-bolder p-2">
        <div class="col-md-4 d-flex justify-content-center" >
            Académico responsable
        </div>

        <div class="col-md-5 d-flex justify-content-center" >
             Actividad
        </div>

        <div class="col-md-1 d-flex justify-content-center" >
             Porcentaje
        </div>
        <div class="col-md-1 d-flex justify-content-center">
        </div>
</div>