<div class="row border-bottom text-black-50 fw-bolder p-2">
        <div class="col-md-3 d-flex justify-content-center" >
            Académico con quién colabora
            
        </div>

        <div class="col-md-5 d-flex justify-content-center" >
             Actividad
        </div>

        <div class="col-md-2 d-flex justify-content-center" >
            (%) de colaboración
        </div>
        <div class="col-md-1 d-flex justify-content-center">
        </div>
</div>