<div class="row border-bottom  p-2">
        <div class="col-md-4 d-flex justify-content-center" >
            <%= (data.persona.paterno||'') + ' ' + (data.persona.materno||'') + ' ' + (data.persona.nombre||'') %>
        </div>

        <div class="col-md-5 d-flex justify-content-center" >
             <%= data.descripcion %>
        </div>

        <div class="col-md-1 d-flex justify-content-center" >
            <%= data.porcentaje %>
        </div>
        <div class="col-md-1 d-flex justify-content-center">
        </div>
</div>