<div class="row mb-4 fw-bold" id="total">
     <div class="col-md-9 d-flex justify-content-end">
           Total:
    </div>
    <div class="col-md-1 d-flex justify-content-center" id="totalporc">
            <%= total %>
     </div>
</div>