<%= nomseccion('Registro de actividades sustantivas', 'Periodo 2024') %>

<%  if @total_porc < 100 || @total_porc > 100 %>
         <div class="alert alert-danger" role="alert">
               La suma de los porcentajes de participación debe ser igual al 100%. Favor de corregir los porcentajes.
         </div>

 
<%  end %> 



<div class="mb-2 bg-light p-2 rounded" id="sustantivas" style="min-height: 200px;"> 
       <%= render "head" %>   
                             
       <% suma = 0.0 
          @sustantivas.each do |eval|  %>
                 <% eval.itemsustantivas.each do |s| 
                    suma += s.porcentaje
                 %>
                     <%= render "item", data:s %>  
                 <% end %>
       <% end %>
</div>    
<%= render "total_porc", total:suma, sustantivas:@sustantivas  %>