<%= nomseccion('Registro de actividades sustantivas', 'Periodo 2024') %>

 <div class="alert alert-danger" role="alert">
       El periodo para la captura de actividades sustantivas ha finalizado.
</div>


<%= render "form" %>