<div class="row mt-md-3">
  <div class="col-4">
      <span class="font-weight-bold">Fecha publicacón:</span> <%= !@actividad.fechapub.blank? ? @actividad.fechapub : 'N/A'  %>
    </div> 
  <div class="col">
      <span class="font-weight-bold">Periódico:</span> <%= @actividad.articulo.revista.nomrevista  %>
    </div>
</div>