<div class="ml-md-3">
    <%= link_to "#", data:{ action:'click->validar#btnAceptar', 'validar-rowfuente-param':@div_target } do %>
        <i class="fas fa-check text-success"></i> Vo.Bo. Coordinación de red
    <% end %>
</div>