<div class="row sticky-top bg-white w-100 p-2 border-bottom">
           <div class="row w-100">
                <div class="col-2 d-flex justify-content-center">
                    <%= image_tag 'inecol_1_60.png' %>
                </div>
                <div class="col-10">
                   
                </div>
                
           </div>     
</div>